* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --blue-50: hsl(225, 100%, 98%);
  --gray-600: hsl(224, 23%, 55%);
  --blue-950: hsl(223, 47%, 23%);
  --blue-700: hsl(245, 75%, 52%);
  --blue-100: hsl(225, 100%, 94%);
  --font-family: 'Red Hat Display', sans-serif;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  background-color: var(--blue-100);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }